.slide-enter-active[data-v-55161e01],.slide-leave-active[data-v-55161e01]{transition:all .3s ease}.slide-enter-from[data-v-55161e01],.slide-leave-to[data-v-55161e01]{opacity:0;transform:translate(-50%,20px)}
